<div class="kuiSideBarSection">

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="normalize">
      Normalize data
    </label>
    <div class="kuiSideBarFormRow__control">
      <input class="kuiCheckBox" id="normalize" type="checkbox" ng-model="vis.params.normalize">
    </div>
  </div>
  
  <div ng-show="vis.params.normalize" class="kuiSideBarSection">
    <label class="kuiSideBarFormRow__label">
      Vertex scale
    </label>
    <table class="vis-editor-agg-editor-ranges form-group">
      <tr>
        <th>
          <label id="minScale">From</label>
        </th>
        <th colspan="2">
          <label id="maxScale">To</label>
        </th>
      </tr>
      <tr>
        <td>
          <input readonly aria-labelledby="minScale" ng-model="vis.params.vertexScale.from" type="number" class="form-control" name="vis.params.vertexScale.from"
            greater-or-equal-than="0" required step="any" />
        </td>
        <td>
          <input aria-labelledby="maxScale" ng-model="vis.params.vertexScale.to" type="number" class="form-control" name="vis.params.vertexScale.to"
            greater-or-equal-than="{{vis.params.vertexScale.from}}" required step="any" />
        </td>
      </tr>
    </table>
  </div>
  

  <div ng-show="vis.params.normalize" class="kuiSideBarSection" ng-repeat="vertex in vis.aggs.bySchemaName['vertex'] track by $index">
    <h5>Range of {{vertex.type.name}} {{vertex.params.field.displayName}}</h5>
    <table class="vis-editor-agg-editor-ranges form-group">
      <tr>
        <th>
          <label id="normalizeFrom_{{$index}}">Min</label>
        </th>
        <th colspan="2">
          <label id="normalizeTo_{{$index}}">Max</label>
        </th>
      </tr>
      <tr>
        <td>
          <input type="number" class="form-control" ng-model="vis.params.rangesMetrics[$index].from"/>
          <!--input aria-labelledby="normalizeFrom" ng-model="vis.params.rangesMetrics[$index].from" type="number" class="form-control"
            name="vis.params.rangesMetrics[$index].from" greater-or-equal-than="0" required step="any" /-->
        </td>
        <td>
          <input type="number" class="form-control" ng-model="vis.params.rangesMetrics[$index].to" />
          <!-- input aria-labelledby="metricOptionsCustomRangeTo" ng-model="vis.params.rangesMetrics[$index].to" type="number" class="form-control"
            name="vis.params.rangesMetrics[$index].to" greater-or-equal-than="{{vis.params.rangesMetrics[$index].from}}" required step="any" /-->
        </td>
      </tr>
    </table>
    
  </div>

  <p ng-show="vis.params.normalize">
    <b>Important</b>: By default, the normalize of the data is between the higthest value retrieved of each metric (vertex) and
    1. You can modify this values filling the inputs (one per metric/vertex) selected. Also, if you leave one of the ranges
    (min, max) in blank, the value will be 1 for the
    <b>Min</b> and the higthest value retrieved for the metric for the
    <b>Max</b>.
  </p>
